<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单上传</title>
</head>
<body>
    <form id="upload-form" action="http://localhost/bucket/form" method="post" enctype="multipart/form-data">
    　　　txt文件：<input type="file" id="upload" name="upload"/> <br/>
          图片：<input type="file" id="jpg" name="jpg"/> <br/>
        名称：<input type="text" id="name" name="name"><br/>
         密码： <input type="password" id="password" name="password"><br/>
    　　　<input type="submit" value="提交"/>
    </form>
</body>
</html>