<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.black.one.dao.TreeDao">

    <select id="getRegionList" resultType="com.black.one.entity.Region">
        select * from t_region
    </select>

</mapper>